httpx>=0.23
lxml>=4.9
beautifulsoup4>=4.11
filetype>=1.1
jinja2>=3.1
websocket-client>=1.4
pycryptodome>=3.15
protobuf==3.20.1
proto-plus==1.22.1
rich>=12.5
psutil>=5.9
poetry-core>=1.1
click>=8.1
emoji>=2
climage>=0.1.3
keyboard>=0.13
humanize>=4.3
