.contentBox {
    width: 800px;
    padding-top: 100px;
    margin: 0 auto
}

.art-title-head {
    width: 100%;
    border-bottom: 1px solid #eee;
    position: relative
}

.art-title-head .caption {
    margin-bottom: 9px;
    width: 100%;
    font-size: 26px;
    line-height: 40px;
    color: #333;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word
}

.art-title-head .art-title-census {
    width: 100%;
    margin-bottom: 20px
}

.art-title-head .art-title-census div {
    display: inline-block;
    color: #999
}

.art-title-head .art-title-census div, .art-title-head .art-title-census i, .art-title-head .art-title-census span {
    vertical-align: middle;
    font-size: 12px;
    line-height: 12px
}

.art-title-head .art-title-census i {
    color: #999;
    cursor: pointer
}

.art-title-head .art-title-census .article-parent {
    margin-right: 20px
}

.art-title-head .art-title-census .article-parent a, .art-title-head .art-title-census .article-parent span {
    vertical-align: middle;
    color: #999
}

.art-title-head .art-title-census .census-left {
    border-right: 1px solid #eee
}

.art-title-head .art-title-census .census-left .viewcount {
    min-width: 80px;
    width: auto;
    height: 20px;
    line-height: 20px
}

.art-title-head .art-title-census .census-left .comcount {
    min-width: 58px;
    width: auto;
    height: 20px;
    line-height: 20px;
    margin: 0 20px;
    cursor: pointer
}

.art-title-head .art-title-census .census-right .bananacount, .art-title-head .art-title-census .census-right .collectcount, .art-title-head .art-title-census .census-right .sharecount {
    min-width: 48px;
    height: 20px
}

.art-title-head .art-title-census .census-right .bananacount i, .art-title-head .art-title-census .census-right .collectcount i, .art-title-head .art-title-census .census-right .sharecount i {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 8px;
    display: inline-block
}

.art-title-head .art-title-census .census-right .collectcount {
    margin-left: 30px
}

.art-title-head .art-title-census .census-right .collectcount .icon {
    background-image: url(//ali-imgs.acfun.cn/kos/nlav10360/static/articlePreview/widget/content/img/collect.422f0d614f6dcafe8a14.png)
}

.art-title-head .art-title-census .census-right .collectcount.active .icon {
    background-image: url(//ali-imgs.acfun.cn/kos/nlav10360/static/articlePreview/widget/content/img/collected.1b47114c4afbbf6c292f.png)
}

.art-title-head .art-title-census .census-right .bananacount.active .icon {
    background-image: url(//ali-imgs.acfun.cn/kos/nlav10360/static/articlePreview/widget/content/img/bananad.6cd91818896eabd20e00.png)
}

.art-title-head .art-title-census .census-right .bananacount {
    height: auto;
    position: relative;
    margin-left: 0;
    padding-left: 20px
}

.art-title-head .art-title-census .census-right .bananacount .icon {
    background-image: url(//ali-imgs.acfun.cn/kos/nlav10360/static/articlePreview/widget/content/img/banana.5f9bf467e81edf3ab700.png)
}

.art-title-head .art-title-census .census-right .sharecount {
    position: relative;
    margin-left: 20px
}

.art-title-head .art-title-census .census-right .sharecount .icon {
    background-image: url(//ali-imgs.acfun.cn/kos/nlav10360/static/articlePreview/widget/content/img/share.318ee50f845bce489677.png)
}

.art-title-head .art-title-census .census-right .sharecount .sharehead {
    display: none;
    position: absolute;
    width: 186px;
    height: 70px;
    padding: 25px 30px 30px;
    top: 32px;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .3);
    background-color: #fff;
    margin-left: 0;
    left: -40px;
    z-index: 2
}

.art-title-head .art-title-census .census-right .sharecount .sharehead.active {
    display: block
}

.art-title-head .art-title-census .census-right .sharecount .sharehead:before {
    content: "";
    width: 23px;
    height: 10px;
    position: absolute;
    display: inline-block;
    left: 40px;
    top: -10px;
    background: url(//ali-imgs.acfun.cn/kos/nlav10360/static/articlePreview/widget/content/img/trg.cbedadf31534384e7f63.png) no-repeat
}

#article-content .article-content {
    width: 740px;
    margin-left: 60px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 24px;
    color: #555;
    overflow: hidden;
    font-size: 14px
}

#article-content .article-content .btn {
    color: #2596d2;
    border: none;
    box-shadow: none;
    float: none;
    margin: 0;
    height: 0;
    position: relative;
    bottom: 2px;
    padding: 0
}

#article-content .article-content .img-emot-ac {
    max-width: 48px;
    max-height: 48px;
    vertical-align: baseline;
    margin: 4px 1px 0;
    position: relative;
    top: 2px
}

#article-content .article-content img {
    max-width: 740px !important;
    display: inline-block;
    cursor: pointer;
    margin: 10px 0;
    vertical-align: baseline
}

#article-content .article-content img.ubb-emotion {
    max-width: 48px;
    max-height: 48px;
    margin: 2px 0;
    vertical-align: text-bottom
}

#article-content .article-content img.ubb-emotion[data-pkgname=AC娘迷你版] {
    width: 26px;
    height: 26px
}

#article-content .article-content p {
    font-size: 16px;
    font-weight: 400;
    margin: 0 4px;
    color: #333;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    text-indent: 0 !important;
    height: auto !important
}

#article-content .article-content a {
    color: #4a8eff
}

#article-content .article-content span {
    display: inline;
    white-space: normal !important;
    word-break: break-all;
    word-wrap: break-word
}

#article-content .article-content h1 {
    font-size: 225%;
    line-height: 100%
}

#article-content .article-content h3 {
    font-size: 175%;
    line-height: 100%
}

#article-content .article-content li {
    list-style-position: inside
}

#article-content #article-tags {
    width: 100%;
    margin: 0 0 20px;
    position: relative
}

#article-content #article-tags .cover {
    max-height: 84px
}

#article-content #article-tags .parts-container {
    float: left;
    width: 680px;
    margin-top: 20px;
    overflow: hidden
}

#article-content #article-tags .parts-container li.active {
    background-color: rgba(253, 76, 91, .1);
    color: #fd4c5d;
    border-color: transparent
}

#article-content #article-tags .parts-container li {
    width: 200px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    text-indent: 10px;
    font-size: 12px;
    line-height: 30px;
    margin-right: 10px;
    border: 1px solid #e1e1e1;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

#article-content #article-tags .showall {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 108px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    display: none;
    text-align: left
}

#article-content #article-tags .showall:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 6px;
    margin-left: 6px;
    background: url(//ali-imgs.acfun.cn/kos/nlav10360/static/articlePreview/widget/content/img/down.dab3cc720265897b766d.png) no-repeat;
    background-size: 100% 100%
}

#article-content #article-up .up-cover {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 50%
}

#article-content #article-up .up-abstract {
    display: inline-block;
    vertical-align: middle;
    width: 650px;
    height: 50px
}

#article-content #article-up .up-abstract .upname {
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 22px;
    color: #333;
    margin-right: 6px;
    position: relative;
    top: 2px
}

#article-content #article-up .up-abstract .up-name {
    margin-top: 6px
}

#article-content #article-up .up-abstract .up-name .up-type {
    width: 44px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    background-color: #4a8eff;
    text-align: center;
    border-radius: 4px;
    color: #fff
}

#article-content #article-up .up-abstract .up-time {
    width: 100%;
    height: 12px;
    margin-top: 7px;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    color: #999
}

#article-content #article-up .up-abstract div {
    display: inline-block;
    vertical-align: middle
}

#article-content #article-up .action-up {
    float: right;
    width: 65px;
    height: 18px;
    margin-top: 10px
}

#article-content #article-up .action-up a {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 18px;
    font-size: 13px;
    line-height: 18px;
    color: #4a8eff;
    cursor: pointer
}

#article-content #article-up .action-up a:first-child {
    margin-right: 5px
}

#article-content #article-operation {
    margin: 40px 0 20px;
    width: 100%
}

#article-content #article-operation .share-more {
    width: 55px;
    height: 30px;
    margin: 0;
    text-align: center;
    color: #666;
    font-size: 12px;
    line-height: 30px
}

#article-content #article-operation .bdshare {
    float: right;
    width: auto;
    margin: 0;
    padding: 0
}

#article-content #article-operation #art-operate {
    width: 400px;
    float: left;
    height: 36px
}

#article-content #article-operation #art-operate div {
    display: inline-block;
    vertical-align: middle
}

#article-content #article-operation #art-operate div .div-banana span {
    line-height: 27px
}

#article-content #article-operation #art-operate div .banana, #article-content #article-operation #art-operate div .collect {
    height: 36px;
    font-size: 12px;
    line-height: 36px;
    color: #333
}

#article-content #article-operation #art-operate .img {
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-top: 8px
}

#article-content #article-operation #art-operate .art-collect .icon .img {
    background: url(//ali-imgs.acfun.cn/kos/nlav10360/static/articlePreview/widget/content/img/collect1.ac384fbef4e73f158c46.png) no-repeat
}

#article-content #article-operation #art-operate .art-collect.active .icon {
    background-color: silver
}

#article-content #article-operation #art-operate .art-banana .icon .img:hover, #article-content #article-operation #art-operate .art-collect .icon .img:hover {
    animation: pulse 1s ease .2s 2 both;
    -webkit-animation: pulse 1s ease .2s 2 both
}

#article-content #article-operation #art-operate .art-banana .icon .img {
    background: url(//ali-imgs.acfun.cn/kos/nlav10360/static/articlePreview/widget/content/img/banana1.af7e39f521bae34a81ed.png) no-repeat
}

#article-content #article-operation #art-operate .icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer
}

#article-content #article-operation #art-operate .art-collect .icon {
    background-color: #ff7600
}

#article-content #article-operation #art-operate .art-collect .collect {
    vertical-align: middle
}

#article-content #article-operation #art-operate .art-banana {
    margin-left: 38px;
    position: relative
}

#article-content #article-operation #art-operate .art-banana .icon {
    background-color: #ffb740
}

#article-content #article-operation #art-operate .art-banana.active .icon {
    background: silver
}

#article-content #bd_tag {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px
}

#article-content #bd_tag .tag-single {
    width: auto;
    border: 1px solid #e1e1e1;
    border-radius: 100px;
    padding: 3px 10px;
    margin-right: 10px;
    text-align: center;
    position: relative
}

#article-content #bd_tag .tag-single a {
    font-size: 12px;
    line-height: 20px;
    color: #333;
    width: auto;
    display: inline-block
}

.art-subject {
    height: 30px
}

#allcover {
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
    cursor: pointer;
    position: fixed;
    display: none
}

#box-image-manga {
    display: block;
    margin: 0;
    width: auto;
    height: auto;
    position: fixed;
    cursor: move;
    z-index: 11
}

#box-image-manga img {
    width: 100%;
    height: 100%;
    background-color: #fff;
    cursor: move
}

#prev-manga {
    left: 0;
    border-radius: 0 32px 32px 0
}

#next-manga {
    right: 0;
    border-radius: 32px 0 0 32px
}

#next-manga, #prev-manga {
    width: 64px;
    height: 64px;
    margin-top: -32px;
    line-height: 64px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #ccc;
    background-color: #eee;
    position: fixed;
    z-index: 11;
    cursor: pointer;
    top: 50%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}

#area-window .icon {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: .2em;
    width: 1em
}

#area-tool-manga {
    position: fixed;
    right: 0;
    top: 0;
    padding: 8px;
    z-index: 11
}

#btn-feedback-manga {
    width: 100px;
    background-color: #4a8eff
}

#btn-feedback-manga, #btn-quit-manga {
    height: 30px;
    line-height: 28px;
    border-radius: 100px
}

#btn-quit-manga {
    width: 130px;
    background-color: #fd4c5d
}

.danger.btn {
    color: #fff;
    border: 1px solid #e74c3c;
    background-color: #e74c3c
}

.btn {
    box-sizing: border-box;
    position: relative;
    float: left;
    margin: 2px 2px 0;
    padding: 0 8px;
    width: auto;
    height: 28px;
    outline: none;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #fff;
    background-repeat: repeat-x;
    box-shadow: 0 1px rgba(0, 0, 0, .1);
    color: #333;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer
}

.primary.btn {
    color: #fff;
    border: 1px solid #3a9bd9;
    background-color: #3a9bd9
}

#pager-manga {
    position: fixed;
    right: 0;
    top: auto;
    bottom: 0;
    width: auto;
    z-index: 11;
    margin: 0;
    padding: 8px 16px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    color: #666
}

#pager-manga .area-pager {
    margin: 0;
    padding: 0
}

.area-pager {
    overflow: hidden;
    width: 100%;
    height: auto
}

.pager {
    display: inline-block;
    margin: 0 8px 0 0;
    min-width: 28px;
    height: 28px;
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px rgba(0, 0, 0, .1);
    background: #ddd;
    text-align: center;
    text-shadow: 0 1px rgba(0, 0, 0, .1);
    font-size: 14px;
    line-height: 28px;
    cursor: pointer
}

.pager:visited {
    color: #fff
}

#pager-manga .active, .pager:hover {
    background-color: #fd4c5d;
    color: #fff
}

#pager-manga .active {
    cursor: default
}

#article-parts-content {
    display: none
}

#area-comment, .comment-area {
    width: 800px
}

#articleInfo {
    display: none
}

section div i, section div span {
    display: inline-block;
    vertical-align: middle
}
