<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="../../assets/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="../../assets/css/article.css"/>
    <link type="text/css" rel="stylesheet" href="../../assets/css/comment.css"/>
</head>
<body>
    <div id="main" class="main">
        <section class="clearfix contentBox">
            <div class="content clearfix">
                <div class="fl" style="width:800px">
                    <section class="art-title">
                        <div class="art-title-head">
                            <div class="caption"><a href="https://www.acfun.cn/a/ac{{ articleId }}">{{ title }}</a></div>
                            <div class="art-title-census">
                                <div class="article-parent">
                                    <a class="art-channel">{{ channel.parentName }}</a><span>&nbsp;&gt;&nbsp;</span>
                                    <a class="sort-channel">{{ channel.name }}</a>
                                </div>
                                <div class="census-left">
                                    <div class="viewcount"><span>阅读量: </span>
                                        <span class="quanity" title="{{ viewCount }}">{{ formatViewCount }}</span></div>
                                    <div class="comcount"><span>评论: </span>
                                        <span class="quanity" title="{{ commentCount }}">{{ formatCommentCount }}</span></div>
                                </div>
                                <div class="census-right">
                                    <div class="collectcount"><i class="icon"></i>
                                        <span title="{{ stowCount }}">{{ formatStowCount }}</span></div>
                                    <div class="bananacount J_banana"><i class="icon"></i>
                                        <span title="{{ bananaCount }}">{{ formatBananaCount }}</span></div>
                                    <div class="sharecount"><i class="icon"></i>
                                        <span title="{{ shareCount }}">{{ formatShareCount }}</span></div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="art-subject">
                        <div id="filter" class="clearfix"></div>
                    </section>
                    <section id="article-content">
                        <div id="article-up">
                            <a class="up-cover" href="https://www.acfun.cn/u/{{ user.href }}" target="_blank"
                               style="background-image:url(../../member/{{ user.href }}_avatar)"></a>
                            <div class="up-abstract">
                                <div class="up-name">
                                    <a href="https://www.acfun.cn/u/{{ user.href }}" target="_blank" class="upname">{{ user.name }}</a>
                                    <div class="up-type">UP主</div>
                                </div>
                                <div class="up-time">{{ createTimeMillis|unix2datestr }}</div>
                            </div>
{#                            <div class="action-up"><a class="message-back">回复</a><a class="reportAction">举报</a></div>#}
                            <div id="article-answer"></div>
                            <div id="article-tags" class="clearfix">
                                {% if parts|length > 1 %}
                                <ul class="parts-container">
                                {% for part in parts %}
                                    <li data-index="{{ loop.index0 }}" class="art-part{% if loop.first %} active{% endif %}">{{ part.title }}</li>
                                {% endfor %}
                                </ul>
                                <div class="showall">展开总共{{ parts|length }}Part</div>
                                {% endif %}
                            </div>
                            <div class="article-content">
                            {% for part in parts %}
                            <div id="content-part{{ loop.index0 }}">
                            {{ part.content|string|safe }}
                            </div>
                            {% endfor %}
                            </div>
                            <div id="bd_tag" class="tag clearfix"></div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        {% include "comment.html" %}
    </div>
<script type="text/javascript" src="../../member/{{ user.id }}.js"></script>
<script type="text/javascript" src="comment.js"></script>
<script type="text/javascript" src="../../assets/js/comment.js"></script>
</body>
</html>
